body
{
    margin: 0;
}

.site
{
    position: relative;
    height: 100vh;
    display: flex;
}

.left-container
{
    width: 15%;
    background-color: rgb(33,46,53);
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top:70px;
    box-sizing: border-box;
}

.right-container
{
    width: 85%;
    left: 15%;
    background-color: ghostwhite;
    height: 100%;
    position: absolute;
}

.collapse-button-container
{
    cursor: pointer;
    right: 15px;
    top: 15px;
    border-radius: 100%;
    background-color: #15171a;
    position: absolute;
}

#collapse-button
{
    width: 35px;
    height: 35px;
    border-width: 7px 0;
    border-color: rgb(169,174,176);
    background-color: rgb(169,174,176);
    border-style: solid;


    padding-top: 7px;
    padding-bottom: 7px;

    background-clip: content-box;
    box-sizing: border-box;

}


.nav-container
{
    background-color:rgb(28,41,46);
    width: 100%;
    height: 100%;
}

ul
{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    background-clip: border-box;
}

li{
    font-family: "Microsoft YaHei Light", "Microsoft YaHei", sans-serif;
    color: rgb(169,174,176);
    text-align: left;
    list-style: none;
    padding:15px 10px;
}

li.clickable
{
    background-color: rgb(25,35,41);
    text-align: center;
    cursor: pointer;
}

li.clicked
{
    background-color: rgb(15,25,31);
}

li.clickable:hover
{
    background-color: #738a94;
}

.sign
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


h1
{
    text-align: center;
}