<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script src="https://unpkg.com/wangeditor/release/wangEditor.min.js"></script>
</head>
<body>
    <div class="site">
        <div class="left-container">
            <div class="collapse-button-container">
                <div id="collapse-button">
                </div>
            </div>

            <div class="nav-container">
                <ul class="nav">
                    <li>后台管理</li>
                    <li class="clickable" hash="#articlemanage">
                        文章管理
                    </li>
                    <li class="clickable" hash="#newarticle">
                        新建文章
                    </li>
                    <li class="clickable" hash="#">
                        用户管理
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-container">
            <div class="sign">
                <h1>您来了！</h1>
            </div>
        </div>


    </div>
</body>

<script th:inline="javascript">
    is_collapsed = false;
    $(document).on("click","#collapse-button",function (e) {
        if(!is_collapsed) {
            $(".left-container").animate({'left': '-10%'}, 300);
            $(".right-container").animate({'left': '5%', 'width': '95vw'}, 300);
            is_collapsed = true;
        }
        else
        {
            $(".left-container").animate({'left': '0'}, 300);
            $(".right-container").animate({'left': '15%', 'width': '85vw'}, 300);
            is_collapsed = false;
        }
    });

    $(".nav").on("click","li.clickable",function () {
        if(!$(this).hasClass('clicked'))
        {
            window.location.hash = $(this).attr('hash');
            $(this).siblings().removeClass('clicked');
            $(this).addClass('clicked');
            loadInner();
        }
    });
    
    function loadInner() {
        var path;
        switch (window.location.hash) {
            case '#newarticle':
                path = '/admin/newarticle';
                $(".right-container").load(path);
                break;
            case '#articlemanage':
                path = '/admin/articlemanage';
                $(".right-container").load(path);
                break;

        }
    }

</script>
</html>