<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Login</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="site">
        <div class="login-container">
            <form th:action="@{/login}" method="post">
            <div class="title">
                <p style="text-align: center">登录</p>
            </div>

            <div class="avatar" style="background-image: url('css/avatar.jpg')"></div>

            <div>
            <div class="username-container">
                <input name="username" id="username" cols="30" rows="1" class="textarea-log" placeholder="用户名">
            </div>
            <div class="password-container">
                <input type="password"  name="password" id="password" cols="30" rows="1" class="textarea-log" placeholder="密码" >
            </div>
                <div class="error-warning-container">
                    <div class="error-warning" id="error">
                        用户名或密码错误
                    </div>
                </div>

            </div>

            <div class="login-button-container">
                <input type="submit" class="login-button" value="登录">
            </div>
            </form>
        </div>
    </div>

    <script th:inline="javascript">
        function c() {
            form = new FormData();
            form.append("username",$("#username").val());
            form.append("password",$("#password").val());
            form.append("_csrf",[[${_csrf.token}]])
            $.ajax(
                {
                    type:'post',

                    contentType:false,
                    processData:false,
                    url:'/login',
                    data:form,
                    success:function (res) {
                        if (res!=null)
                        window.location.href=res;
                    }
                }
            )
        }
        $("body").keydown(function() {
            if (event.keyCode == "13") {//keyCode=13是回车键；数字不同代表监听的按键不同
                c();
            }
        });
        $(window).load(function () {
            if (window.location.search.substr(1).indexOf("error")==-1)
            {   $("#error").hide();}
        })
    </script>
</body>
</html>