<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/am.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">

    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>

    <div class="am-site">
        <div class="modal-container">
            <div class="modal">

            </div>
        </div>
        <div class="title-container">
            用户管理
        </div>

        <div class="table-container">
            <div class="table-header-container">
                <div class="table-header" style="width: 33%">
                    用户名
                </div>
                <div class="table-header" style="width: 33%">
                    权限
                </div>
                <div class="table-header" style="width: 33%">
                    操作
                </div>
            </div>
            <div class="table-tr">
                <div class="tr" th:each="user:${users}" th:id="${user.getUsername()}">
                    <div class="td" style="width: 33%" th:text="${user.getUsername()}">Laurence</div>
                    <div class="td auth-container" style="width: 33%">
                        <div class="label label-default dis" th:each="role:${user.getAuthorities()}" th:text="${role.getAuthority()}" th:name="${user.getUsername()}"onclick="j(this)">Admin</div>
                        <span class="label label-primary dis" onclick="a(this)" style="cursor: pointer;"> + </span>
                    </div>
                    <div class="td" style="width: 33%">
                        <div class="operation-container">
                            <div class="operation">
                                <button class="btn btn-warning" onclick="d(this)">删除用户</button>
                                <button class="btn btn-primary" onclick="k(this)" th:name="${user.getUsername()}">编辑权限</button>
                                <button class="btn btn-primary disabled" onclick="s(this)">保存</button>
                                <button class="btn btn-warning" onclick="b(this)" th:if="${user.isEnabled()}">封禁！</button>
                                <button class="btn btn-warning" onclick="b(this)" th:unless="${user.isEnabled()}">解封！</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="page-container">
            <div class="btn lac btn-default " style="width: 40px;font-weight: bolder;font-size: x-large;margin: auto;" onclick="prevPage()">
                <
            </div>
            <div class="current-page-container">
                <p class="current-page" th:text="${page}"> 1 </p>
            </div>
            <div class="btn rac btn-default" style="width: 40px;font-weight: bolder;font-size: x-large;margin: auto;" onclick="nextPage()">
                >
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        headers = {};
        headers['X-CSRF-TOKEN'] = [[${_csrf.token}]];
        currentPage = [[${page}]];
        totalPage = [[${totalpages}]];
    </script>

    <script th:inline="javascript" th:src="@{/js/usermanage.js}"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>